<html lang="en"><head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <link href="/favicon.ico" rel="shortcut icon"/>
  <link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
  <title>Alumni Weekend 2022</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/tachyons-type-scale@6.1.1/css/tachyons-type-scale.min.css" />
  <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  <style>
    html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Roboto Condensed", sans-serif;
    color: #ffbf00;
  }
  .container-2021 {
    align-content: center;
    background: rgb(0,60,108);
    background: radial-gradient(circle, rgba(0,60,108,1) 50%, rgba(0,106,173,1) 100%);
    display: grid;
    padding: 1em;
    height: 100vh;
    width: 100wh;
    text-align: center;
  }

  .container-2021 img {
    width: 100%;
    max-width: 350px;
    margin: 1em auto;
  }
  </style>
</head>
<body>

  {{ content }}

</body>
</HTML>
