<style>
  .row-billboard {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 67.5em;
    position: relative;
    width: 100%;
  }

  .container-billboard {
    display: inline-block;
    max-width: 1080px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .container-billboard .background {
    display: block;
    width: 100%;

  }

  .container-billboard .redwoods {
    display: block;
    max-width: 1080px;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .cloud,
  .cloud-small {
    animation: l-to-r 90s linear infinite;
  }

  .cloud {
    top: 30%;
  }

  .cloud-right,
  .cloud-small-right {
    animation: r-to-l 90s linear infinite;
  }

  .cloud-right {
    top: 35%;
  }

  .cloud,
  .cloud-right {
    position: absolute;
    width: 30rem;
    z-index: 2;
  }

  .cloud-small {
    top: 20%;
  }

  .cloud-small-right {
    top: 15%;
  }

  .cloud-small,
  .cloud-small-right {
    max-width: 200px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .cloud,
  .cloud-right,
  .cloud-small,
  .cloud-small-right {
    filter: blur(3px);
  }

  .flip-h {
    filter: FlipH;
    transform: scaleX(-1);
  }

  @-webkit-keyframes l-to-r {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(450%);
    }
  }

  @-webkit-keyframes r-to-l {
    0% {
      transform: translateX(500%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .title-container {
    display: block;
    padding: .5em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20%;
    width: 100%;
    z-index: 4;
  }

  .title-container h1 {
    color: #fdc700;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3em;
    margin: 0;
    letter-spacing: .05em;
  }

  .title-container .subhead {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: .05em;
    margin: 0 !important;
  }

  .title-container h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    margin: 0;
    font-weight: 700;
  }

  .title-container span {
    color: #fdc700;
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    font-weight: 300;
    margin: 0;
  }

  .title-container .btn,
  .title-container .btn:active {
    background: #003c6c;
    border-radius: .25em;
    color: #fff;
    display: block;
    font-weight: 500;
    margin: .25em auto;
    padding: .5em;
    text-decoration: none;
    width: 25%;
  }

  .title-container .btn:hover,
  .title-container .btn:focus {
    background: #fdc700;
    color: #003c6c;
  }

  .component-wrapper {
    padding:  0 30px;
  }

  @media screen and (max-width: 31.125em) {
    .cloud,
    .cloud-right {
      width: 10rem;
    }
    .cloud-small,
    .cloud-small-right {
      width: 6rem;
    }
    .title-container {
      background: #003c6c;
      display: block;
      position: relative;
    }
    .title-container h1 {
      font-size: 2.25em;
    }
    .title-container .subhead {
      font-size: 1em;
    }
    .title-container h2 {
      font-size: 1.75em;
    }
    .title-container span {
      font-size: 1em;
    }
    .title-container .btn,
    .title-container .btn:active {
      background: #fdc700;
      color: #003c6c;
      width: 35%;
    }

    .title-container .btn:hover,
    .title-container .btn:focus {
      background: #da216d;
      color: #fff;
    }
  }

  @media screen and (min-width: 31.1875em) {
    .cloud,
    .cloud-right {
      width: 10rem;
    }
    .cloud-small,
    .cloud-small-right {
      width: 6rem;
    }
    .title-container {
      background: #003c6c;
      display: block;
      position: relative;
    }
    .title-container h1 {
      font-size: 2.25em;
    }
    .title-container .subhead {
      font-size: 1em;
    }
    .title-container h2 {
      font-size: 1.75em;
    }
    .title-container span {
      font-size: 1em;
    }
    .title-container .btn,
    .title-container .btn:active {
      background: #fdc700;
      color: #003c6c;
      width: 35%;
    }

    .title-container .btn:hover,
    .title-container .btn:focus {
      background: #da216d;
      color: #fff;
    }
  }

  @media screen and (min-width: 37.5em) {
    .cloud,
    .cloud-right {
      width: 15rem;
    }
    .cloud-small,
    .cloud-small-right {
      width: 10rem;
    }
    .title-container {
      background: #003c6c;
      display: block;
      position: relative;
    }
    .title-container h1 {
      font-size: 2.6em;
    }
    .title-container .subhead {
      font-size: 1.25em;
    }
    .title-container h2 {
      font-size: 2em;
    }
    .title-container span {
      font-size: 1.15em;
    }
    .title-container .btn,
    .title-container .btn:active {
      background: #fdc700;
      color: #003c6c;
      width: 35%;
    }

    .title-container .btn:hover,
    .title-container .btn:focus {
      background: #da216d;
      color: #fff;
    }
  }

  @media screen and (min-width: 48em) {
    .cloud,
    .cloud-right {
      width: 15rem;
    }
    .cloud-small,
    .cloud-small-right {
      width: 6rem;
    }
    .title-container {
      background: none;
      display: block;
      position: absolute;
    }
    .title-container h1 {
      font-size: 3em;
    }
    .title-container .subhead {
      font-size: 1.5em;
    }
    .title-container h2 {
      font-size: 2.25em;
    }
    .title-container span {
      font-size: 1.35em;
    }
    .title-container .btn,
    .title-container .btn:active {
      background: #003c6c;
      color: #fff;
      width: 25%;
    }

    .title-container .btn:hover,
    .title-container .btn:focus {
      background: #fdc700;
      color: #003c6c;
    }
  }

  @media screen and (min-width: 60em) {
    .cloud,
    .cloud-right {
      width: 30rem;
    }
    .cloud-small,
    .cloud-small-right {
      width: 15rem;
    }
    .title-container {
      display: block;
      position: absolute;
    }
    .title-container h1 {
      font-size: 3em;
    }
    .title-container .subhead {
      font-size: 1.5em;
    }
    .title-container h2 {
      font-size: 2.25em;
    }
    .title-container span {
      font-size: 1.35em;
    }
    .title-container .btn,
    .title-container .btn:active {
      background: #003c6c;
      color: #fff;
      width: 25%;
    }

    .title-container .btn:hover,
    .title-container .btn:focus {
      background: #fdc700;
      color: #003c6c;
    }
  }

  @media screen and (min-width: 64em) {
    .hero-viewport.inner-page-standard {
      padding: 0 0 1rem;
    }
  }
</style>

<div class="component-wrapper">
  <section class="content-centered">
    <div class="grid-container large">
      <p><strong>Join us for Alumni Week!</strong> We will be Celebrating Alumni Voices all week long with virtual and in-person events—a mixtape of our favorite hits we've made just for you!</p>
        <p>Check out the <a href="https://calendar.ucsc.edu/alumni_week">lineup of exciting events</a> we're offering throughout the week, pick and choose which events to attend, and most importantly have fun connecting with your fellow Banana Slugs and UCSC friends! All alumni and the community are warmly invited”. </p>
    </div>
  </section>
</div>


{% if page.billboard.hero-title != '' %}
<div class="hero-viewport inner-page-standard wave-pattern blue">
  <div class="row-billboard">
    <!-- Title -->
      <div class="title-container">
        <h1>{{ page.billboard.hero-title }}</h1>
        <div class="subhead">{{ page.billboard.subhead }}</div>
        <h2>{{ page.billboard.date }}</h2>
        <span>{{ page.billboard.description }}</span>
        <a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4202&cid=8750" class="btn">Register Now</a>
      </div>
      <!-- End title -->
    <div class="container-billboard">
      <!-- Left Clouds -->
        <div class="cloud"><img src="/assets/images/2022/clouds.svg" alt="cloud"></div>
      <div class="cloud-small"><img src="/assets/images/2022/banana-slug-cloud.svg" alt="cloud"></div>
      <!-- Right Clouds -->
        <div class="cloud-right"><img src="/assets/images/2022/clouds.svg" alt="cloud" class="flip-h"></div>
       <div class="cloud-small-right"><img src="/assets/images/2022/clouds.svg" alt="cloud" class="flip-h"></div>
      <!-- End Clouds -->
      <div class="redwoods">
        <img src="/assets/images/2022/students-animals.svg" alt="Redwoods"/>
      </div>
      <div class="background">
        <img src="/assets/images/2022/2022-background.svg" alt="East Field"/>
      </div>
    </div>
  </div>
</div>
{% endif %}
