{% if page.category == "aw-2023" %}
  <section class="content-centered">
    <div class="grid-container large">
        <h2>{{page.title}}</h2>
        <h3>{{page.welcome.date}}</h3>
        <p> {{page.welcome.message}}</p>
    </div>
  </section>
{% endif %}


{% if page.billboard.image != '' and page.category != "aw-2021" %}
  {%- include custom-billboard.html -%}
{% else page.billboard.image != '' %}
    <div class="hero-viewport yellow">
      <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
          <div class="gradient-overlay"></div>
          <img src="{{ page.billboard.image }}" alt="{{ page.billboard.alt-text }}">
            <div class="angle transparent wow animated" style="visibility: visible;"></div>
            <div class="hero-text">
                <div class="category">{{ page.billboard.subtitle }}</div>
                <h1 class="hero-header blue-text">{{ page.billboard.hero-title }}</h1>
                <p class="hero-body">{{ page.billboard.description }}</p>
                <a href="https://calendar.ucsc.edu/alumni_week" class="button primary secondary-blue-text"><strong>View Events Listing</strong></a>
                <!-- <a class="button secondary" href="#">{{ page.billboard.button-text }}</a> -->
            </div>
        </div>
      </div>
    </div>
{% endif %}
