{% if page.billboard.image != '' and page.category != "aw-2022" %}
  <div class="row">
  <!-- Title -->
    <div class="title-container">
      <h1>{{ page.billboard.hero-title }}</h1>
      <div class="subhead">{{ page.billboard.subhead }}</div>
      <h2>{{ page.billboard.date }}</h2>
      <span>{{ page.billboard.description }}</span>
    </div>
    <!-- End title -->
  <div class="container">
    <!-- Left Clouds -->
      <div class="cloud"><img src="/assets/images/2022/clouds.svg" alt="cloud"></div>
    <div class="cloud-small"><img src="/assets/images/2022/banana-slug-cloud.svg" alt="cloud"></div>
    <!-- Right Clouds -->
      <div class="cloud-right"><img src="/assets/images/2022/clouds.svg" alt="cloud" class="flip-h"></div>
     <div class="cloud-small-right"><img src="/assets/images/2022/clouds.svg" alt="cloud" class="flip-h"></div>
    <!-- End Clouds -->
    <div class="redwoods">
      <img src="/assets/images/2022/students-animals.svg" alt="Redwoods"/>
    </div>
    <div class="background">
      <img src="/assets/images/2022/2022-background.svg" alt="East Field"/>
    </div>
  </div>
</div>
{% endif %}
