{% if page.category == 'aw-2023' %}
<a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4506&cid=9935&fid=9935&gfid=12816">	
  <img src="/assets/images/2023/billboard-image.svg" class="img-full" alt="Alumni Reunion Weekend">
</a>

<section class="content-centered">
  <div class="grid-container large">
      <h2>{{page.title}}</h2>
      <h3>{{page.welcome.date}}</h3>
      <p> {{page.welcome.message}}</p>
      <p>
        <a class="button primary large" href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4506&cid=9935&fid=9935&gfid=12816">Register Now</a><br/>
        <span>
          Early bird rate: $50 (50 by April 1)<br/>
          Standard rate: $80 
      </span>
      </p>
      <p>{{page.welcome.note}}</p>
      
      <p>We have many <a href="https://alumni.ucsc.edu/volunteer/arw-volunteers.html">volunteer opportunities</a> for you to get involved now and during the weekend. <a href="https://docs.google.com/forms/d/e/1FAIpQLSe91dHZ5027XdMNNU__YX4gXrwRCdAH3tKNmfLz6kkxdz5bog/viewform">Sign-up to volunteer</a></p>
  </div>
</section>
{% endif %}
