{% if page.category == 'aw-2023' %}
<a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4506&cid=9935&fid=9935&gfid=12816">	
  <img src="/assets/images/2023/billboard-image.svg" class="img-full" alt="UC Santa Cruz | Alumni: Alumni Reunion Weekend: April 14-15, 2023">
</a>

<section class="content-centered">
  <div class="grid-container large">
      <h2>{{page.title}}</h2>
      <h3>{{page.welcome.date}}</h3>
      <p> {{page.welcome.message}}</p>
      <p>
        <a class="button primary large" href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4506&cid=9935&fid=9935&gfid=12816">Register Now</a><br/>
        <span>
          Early bird rate: $50 (50 by April 1)<br/>
          Standard rate: $75 
      </span>
      </p>
      <p><strong>Invite your classmates and schedule your weekend to reconnect and remember in the way most meaningful for you.</strong></p>
  </div>
</section>
{% endif %}
