<div id="page">
  <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
    <div class="scroll">
      <div class="close-main">
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="menu-id">
        <img class="white-ucsc-logo" src="/assets/images/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz" />
      </div>

      <div class="aev-links">
        <div class="expanded button-group">
          <a class="button solid white-text" href="https://admissions.ucsc.edu/apply/">Apply</a>
          <a class="button solid white-text" href="https://www.ucsc.edu/visit/index.html">Visit</a>
          <a class="button solid white-text" href="https://giving.ucsc.edu">Engage</a>
        </div>
      </div>
      <!-- Special Events mobile -->
      <!-- Subsite Menu-->
      <div class="primary-links lower-divider">
        <ul class="vertical menu">
          {% assign alumniweekendnav = page.category %}
            {% if page.category != '' %}
              {% for alumniweekend in site.alumniweekend %}
                {% if alumniweekend.category == alumniweekendnav and alumniweekend.order >= 2 %}
                  <li><a href="{{ site.baseurl }}{{ alumniweekend.url }}" aria-label="">{{ alumniweekend.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if page.category == 'aw-2022' %}
              <li><a href="https://crowdfund.ucsc.edu/project/29511" aria-label="Make a Gift">Make a Gift</a></li>
              <li><a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4202&cid=8750" aria-label="Register for Alumni Week">Register Now</a></li>
            {% endif %}
        </ul>
      </div>
      <!-- end Special Events -->
      <div class="global-links">
        <ul class="vertical menu">
          <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO?execution=e1s1" aria-label="MyUCSC"><span>MyUCSC</span></a></li>
          <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label="Calendars"><span>Calendars</span></a></li>
          <li><a href="https://www.ucsc.edu/tools/people.html" aria-label="Directories"><span>Directories</span></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div data-sticky-container>
  <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
    <div class="global-header">
      <div class="grid-container large">
        <div class="site-logo global">
          <a href="https://www.ucsc.edu">
            <img src="/assets/images/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz">
          </a>
        </div>
        <div class="aev-menu">
          <ul class="menu">
            <li><a href="https://admissions.ucsc.edu/apply/">Apply</a></li>
            <li><a href="https://giving.ucsc.edu">Engage</a></li>
            <li><a href="https://www.ucsc.edu/visit/index.html">Visit</a></li>
          </ul>
        </div>

        <div class="global-menu">
          <ul class="menu">
            <li><a href="https://login.ucsc.edu/idp/profile/SAML2/Redirect/SSO;jsessionid=110f00jrrbrh7marvjot3soxo?execution=e1s1" aria-label="MyUCSC<"><span>MyUCSC</span></a></li>
            <li><a href="https://www.ucsc.edu/tools/calendars.html" aria-label="Calendars"><span>Calendars</span></a></li>
            <li><a href="https://www.ucsc.edu/tools/people.html" aria-label="Directories"><span>Directories</span></a></li>
            <li class="show-for-large search-button">
                <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu">
      <a class="mobile-menu-logo" href="https://www.ucsc.edu">
        <img src="/assets/images/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz" />
      </a>
      <ul class="menu">
        <li>
          <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <li>
          <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
            <span>Menu</span>
            <span class="fa fa-bars" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="subsite-header">
      <!--------------------------------------------->
      <!------------- Custom Subsite Logo ----------->
      <!--------------------------------------------->


      <!--------------------------------------------->
      <!--------------- Subsite Template ------------>
      <!--------------------------------------------->



      <!--------------------------------------------->
      <!--------------- News Template  -------------->
      <!--------------------------------------------->

      <!-- Special events desktop -->


      <div class="grid-container large">
        <div class="grid-x large-padding-collapse large-margin-collapse">
          <div class="cell large-3">
            <div class="subsite-brand-container">
              <a href="{{ site.baseurl }}/" aria-label="Return to Home">
                {% if page.category == "aw-2021" or  page.category == "aw-2022" %}
                  <h1>Alumni Week</h1>
                {% else %}
                  <h1>Alumni Weekend</h1>
                {% endif %}
              </a>
            </div>
          </div>

          <div class="cell auto">
            <ul class="menu">
              {% assign alumniweekendnav = page.category %}
              {% if page.layout != 'page-left-navigation' %}
                {% if page.category != '' %}
                  {% for alumniweekend in site.alumniweekend %}
                    {% if alumniweekend.category == alumniweekendnav and alumniweekend.order >= 2 %}
                      <li><a href="{{ site.baseurl }}{{ alumniweekend.url }}" aria-label="{{ alumniweekend.title }}">{{ alumniweekend.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endif %}
              {% if page.category== 'aw-2022' %}
                <li><a href="https://crowdfund.ucsc.edu/project/29511" aria-label="Make a Gift">Make a Gift</a></li>
                <li><a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=4202&cid=8750" aria-label="Register for Alumni Week">Register Now</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
