<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon"/>
  <link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon"/>
  {% if page.category == "aw-2021" or  page.category == "aw-2022" %}
    <title>Alumni Week</title>
  {% else %}
    <title>{{ page.title }}</title>
  {% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons-type-scale@6.1.1/css/tachyons-type-scale.min.css" />
  <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap'>
  <link rel='stylesheet' href='https://fonts.googleapis.com'>
  <link rel='stylesheet' href='https://fonts.gstatic.com'>
  <!-- search -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>

  <meta content="{{page.title}}" property="og:title"/>
  <meta content="{{ page.url }}" property="og:url"/>
  <meta content="{{page.description}}" property="og:description"/>
  <meta content="website" property="og:type"/>
  {% if page.billboard.image != "" %}
  <meta content="{{ site.url }}{{ page.og-image }}" property="og:image"/>
  {% endif %}
  <meta content="UC Santa Cruz Alumni Week" property="og:site_name"/>
  <meta content="1322847221,508316988" property="fb:admins"/>
  <meta content="https://www.facebook.com/ucsantacruz" property="article:publisher"/>

  <meta content="summary" name="twitter:card"/>
  <meta content="@ucsc" name="twitter:site"/>
  <meta content="{{ page.url }}" name="twitter:url"/>
  <meta content="{{page.title}}" name="twitter:title"/>
  <meta content="{{page.description}}" name="twitter:description"/>
  {% if page.billboard.image != "" %}
    <meta content="{{ site.url }}{{ page.og-image }}" name="twitter:image"/>
  {% endif %}


</head>
