{% assign alumniweekendnav = page.category %}
{% if page.category != '' %}
<div id="page-menu">
  <ul class="vertical menu">
    <li>
      {% for alumniweekend in site.alumniweekend %}
        {% if alumniweekend.category == alumniweekendnav and alumniweekend.order <= 1 %}
          <a class="section-title" href="{{ site.baseurl }}{{ alumniweekend.url }}" aria-label="{{ alumniweekend.title }}">Home</a>
        {% endif %}
      {% endfor %}
      {% if alumniweekend.order != 1 %}
      <ul class="menu vertical nested">
        {% for alumniweekend in site.alumniweekend %}
          {% if alumniweekend.category == alumniweekendnav and alumniweekend.order >= 2 %}
            <li><a href="{{ site.baseurl }}{{ alumniweekend.url }}" aria-label="{{ alumniweekend.title }}">{{ alumniweekend.title }}</a></li>
          {% endif %}
        {% endfor %}
        <!-- <li><a href="https://secure.ucsc.edu/s/1069/bp18/interior.aspx?sid=1069&gid=1001&pgid=3959&cid=7946" aria-label="Register Now">Register Now</a></li> -->
      </ul>
      {% endif %}
    </li>
  <!-- <li><a class="section-title" href="#" aria-label="Register Now">Register Now</a></li> -->
  </ul>
</div>
{% endif %}

